.select-style{
    display: block;
            width: 100%;
            height: 60px;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 10px;
            font-size: 16px;
            color: #191B1C;
            background-color: #fff;
            border: 1px solid #9EB3B9;
            border-radius: 5px;
            font-family: "Muli", "Helvetica", "Arial", sans-serif;
            font-size: 1.01em;
            color: #666B6C;
}
