<div ngbDropdown placement="bottom" class="dropdown header__dropdown">
	<div ngbDropdownToggle class="btn-user btn-reset">
		<span class="btn-user__text">Sally Johnson</span>
		<img class="btn-user__img" src="../../assets/images/img_girl.png" alt="icon person">
	</div>
	<div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="will-change: inherit !important;"
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
		<ul class="" style="min-width: 250px;">

			<li class="dropdown__item">
				<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
					<span class="icon icon-person с-text-primary"></span>
					My profile
				</a>
			</li>
			<li class="dropdown__item">
				<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
					<span class="icon icon-folder с-text-primary"></span>
					My results
				</a>
			</li>
			<li class="dropdown__item">
				<button class="dropdown__btn dropdown-user__btn" type="button" (click)="logout()">
					<span class="icon icon-log-out"></span>
					Log out
				</button>
			</li>

		</ul>
	</div>
</div>


<!-- <ngbd-popover-basic></ngbd-popover-basic> -->


<!-- <div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="top: 20px  !important;" class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-user__menu">
				<ul class="" style="min-width: 250px;">
					<li ngbDropdownItem class="dropdown__item">
						<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
							<span class="icon icon-person text-primary"></span>
							My profile
						</a>
					</li>
					<li ngbDropdownItem class="dropdown__item">
						<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
							<span class="icon icon-folder text-primary"></span>
							My results
						</a>
					</li>
					<li ngbDropdownItem class="dropdown__item">
						<button class="dropdown__btn dropdown-user__btn" type="button" (click)="logout()">
							<span class="icon icon-log-out"></span>
							Log out
						</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> -->
