<div ngbDropdown placement="bottom" class="dropdown header__dropdown">
	<button ngbDropdownToggle class="btn-user btn-reset">
		<span class="btn-user__text">Sally Johnson</span>
		<img class="btn-user__img" src="../../assets/images/img_girl.png" alt="icon person">
	</button>
	<div ngbDropdownMenu aria-labelledby="dropdownBasic1" style=""
		class="dropdown-menu dropdown-menu-fit dropdown-menu-anim">
		<ul class="" style="min-width: 250px;">

			<li class="dropdown__item">
				<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
					<span class="icon icon-person c-text-primary"></span>
					My profile
				</a>
			</li>
			<li class="dropdown__item">
				<a routerLink="/profile" class="dropdown__btn dropdown-user__btn">
					<span class="icon icon-folder с-text-primary"></span>
					My results
				</a>
			</li>
			<li class="dropdown__item">
				<button class="dropdown__btn dropdown-user__btn" type="button" (click)="logout()">
					<span class="icon icon-log-out"></span>
					Log out
				</button>
			</li>
		</ul>
	</div>
</div>
