
  <div class="intro">
    <div class="container">
      <div class="intro__inner intro__inner-indent--large">
        <h1 class="main-title">Being <span class="с-text-primary">healthy</span>
          is being <span class="с-text-primary">safe</span></h1>

        <div class="intro__text-holder text-holder">
          <p>Check your health daily and become a superhero using HealthCheck</p>
        </div>
        <div class="intro__img-holder">
          <img src="../../assets/images/illustration.png"
               alt="two boys and two girls are wearing in different clothes and talking to each other">
        </div>
        <!-- <a href="test.html" class="btn btn-primary">Check Health</a> -->
        <a routerLink="/health-test" class="c-btn c-btn-primary">Check Health</a>
      </div>
    </div>

  </div>

<!-- <app-footer></app-footer> -->
